.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  /* max-height: 30px; */
  padding: -25px -25px;
}

.btn-success, .btn-warning, .btn-danger{
  margin: 5px;
}

@media print{ 
	div.print-break-page-before { 
		display: block; /* unhide all tabs */
	    position: relative;
	    page-break-before: always; 
	}
	div.print-break-page-after {
		display: block; /* unhide all tabs */
	    position: relative;
	    page-break-after: always; 
	}
	span, p, h1, h2, h3, h4 {
		color: #000 !important;
	}

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
#mapa_searchbox{
  width: 300px;
}

.menu-principal{
  background-color: rgba(0,0,0,.6);
}

.slider{
  width:100%;
  height: auto;
}

.slider img{
  width: 100vw;
}

.input-mapa{
  margin-top: 10px;
  border-color: transparent;
  border-radius: 3px;
  outline: none;
  padding: 9px 16px;
  width: 100%;
  font-size: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.menu_mapa{
    background-color: #FFFFFF;
    width: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 300px;
    /* top: 200px; */
}

.menu_mapa_item {
  width: 100%;
  position: relative;
}
.menu_mapa_item > p {
  width: 100%;
  font-size: 14px;
  position: relative;
  margin-left: 5px;
}

div.body-container {
  position: relative;
  top: 60px;
}

.last{
    bottom: 12px;
    position: absolute;
}

body.modal-open::after {
  opacity: 1;
  z-index: 0;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
  font-size: 20px;
  line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
  width: 100%;
}

/* QR code generator */
#qrCode {
  margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
      display: none;
  }
}

.glyphicon {
  margin-right: 5px;
}

.thumbnail {
  margin-bottom: 20px;
  padding: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.item.list-group-item {
  float: none;
  width: 100%;
  background-color: #fff;
  margin-bottom: 10px;
}

  .item.list-group-item:nth-of-type(odd):hover, .item.list-group-item:hover {
      background: #428bca;
  }

  .item.list-group-item .list-group-image {
      margin-right: 10px;
  }

  .item.list-group-item .thumbnail {
      margin-bottom: 0px;
  }

  .item.list-group-item .caption {
      padding: 9px 9px 0px 9px;
  }

  .item.list-group-item:nth-of-type(odd) {
      background: #eeeeee;
  }

  .item.list-group-item:before, .item.list-group-item:after {
      display: table;
      content: " ";
  }

  .item.list-group-item img {
      float: left;
  }

  .item.list-group-item:after {
      clear: both;
  }

.list-group-item-text {
  margin: 0 0 11px;
}